<div id="<%=@cic.name %>" style=" width:<%=@cic.width %>px;height:<%=@cic.height %>px;overflow:hidden;position:relative; margin: 20px auto 0;">

    <div id="slide1_images" style=" position:absolute;left:0px;width:9584px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s  ease-in-out; -o-transition:all 0.5s  ease-in-out; -ms-transition:all 0.5s  ease-in-out; -transition:all 0.5s  ease-in-out;">
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page1.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page2.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page3.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page4.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page5.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page6.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page7.png" />
        <img style="padding:0; margin:0;float:left;" src="/images/sheets/page8.png" />
    </div>
</div>
